.finder {
  position: absolute;
  --blue: #1d3a8f;
  --light-blue: #337ab7;
  --yellow: #ffed00;
  font-size: 1.2rem;
  background-color: #f5f5f5;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1, h2, h3 {
    color: var(--blue);
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    color: black;
  }
  nav {
    position: fixed;
    bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    width: 100%;
  }
  form.form {
    width: 500px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    .field {
      width: 100%;
    }
    .checkbox {
      display: flex;
      flex-direction: column;
      align-items: center;
      label{
        text-align: left;
        margin-bottom: 0.5rem;
      }
    }
    .text-input, .number-input {
      display: flex;
      flex-direction: column;
      input {
        border: none;
        border-radius: 0.5rem;
        padding: 7px;
        box-shadow: #00000026 0 2px 3px;
        margin-bottom: 0.25rem;
        outline: none;
        &:focus-visible {
          box-shadow: inset var(--light-blue) 0 0 0 2px;
        }
        &.show:not(.valid){
          box-shadow: inset #e30613 0 0 0 2px;
        }
      }
      .error-message {
        color: var(--blue);
      }
      label{
        text-align: left;
        margin-bottom: 0.5rem;
      }
    }
  }
  button {
    border: none;
    background-color: var(--light-blue);
    color: white;
    padding: 7px 14px;
    font-size: 1.2rem;
    cursor: pointer;
    &:hover {
      background: #286090;
    }
  }
}